# Copyright (C) ThermoFisher Scientific Inc.- All Rights Reserved
# Unauthorized use or copying of this file, via any medium is strictly
# prohibited and will be subject to legal action.
# Proprietary and confidential

version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"  
  - package-ecosystem: "docker"
    directory: "/" 
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/.github/workflows" 
    schedule:
      interval: "weekly"
      
